.tutorial{
	background: url('../../img/start.png');
	background-size: cover;
}


.akt1slide1{
	background: #CFF09E;
}
.akt1slide2{
	background: #A8DBA8;
}
.akt1slide3{
	background: #79BD9A;
}
.akt1slide4{
	background: #3B8686;
}
.akt1slide5{
	background: #0B486B;
}


.akt2slide1{
	background: #FAD089;
}
.akt2slide2{
	background: #FF9C5B;
}
.akt2slide3{
	background: #F5634A;
}
.akt2slide4{
	background: #ED303C;
}
.akt2slide5{
	background: #0B486B;
}


.akt3slide1{
	background: #EAFCCC;
}
.akt3slide2{
	background: #40E4CB;
}
.akt3slide3{
	background: #26BDB8;
}
.akt3slide4{
	background: #2b6C6D;
}
.akt3slide5{
	background: #2b6C6D;
}

.akt4slide1{
	background: #CFF09E;
}
.akt4slide2{
	background: #A8DBA8;
}
.akt4slide3{
	background: #79BD9A;
}
.akt4slide4{
	background: #3B8686;
}
.akt4slide5{
	background: #0B486B;
}


.akt5slide1{
	background: #FAD089;
}
.akt5slide2{
	background: #FF9C5B;
}
.akt5slide3{
	background: #F5634A;
}
.akt5slide4{
	background: #ED303C;
}
.akt5slide5{
	background: #ED303C;
}


.akt6slide1{
	background: #EAFCCC;
}
.akt6slide2{
	background: #40E4CB;
}
.akt6slide3{
	background: #26BDB8;
}
.akt6slide4{
	background: #2b6C6D;
}
.akt6slide5{
	background: #2b6C6D;
}



.jumbotron{
	background: rgba(238, 238, 238,0.7);
}

.setVideoFullscreen{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
}