h1{
	text-align: center;
}

.tutorial{
	background: url('../../img/start.png');
	background-size: cover;
}

.story1Slide1{
	background: #CFF09E;
}
.story1Slide2{
	background: #A8DBA8;
}
.story1Slide3{
	background: #79BD9A;
}
.story1Slide4{
	background: #3B8686;
}
.story1Slide5{
	background: #0B486B;
}

.story2Slide1{
	background: #FAD089;
}
.story2Slide2{
	background: #FF9C5B;
}
.story2Slide3{
	background: #F5634A;
}
.story2Slide4{
	background: #ED303C;
}

.story3Slide1{
	background: #EAFCCC;
}
.story3Slide2{
	background: #40E4CB;
}
.story3Slide3{
	background: #26BDB8;
}
.story3Slide4{
	background: #2b6C6D;
}

.jumbotron{
	background: rgba(238, 238, 238,0.7);
}